SoapClient/SoapClient/Connected Services/HotelSoap/hotel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://localhost:8080" xmlns:tns="http://localhost:8080" targetNamespace="http://localhost:8080" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://localhost:8080" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addHotelRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hotel" type="tns:hotelRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addHotelResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateHotelRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="hotel" type="tns:hotelRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateHotelResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteHotelByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteHotelByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findHotelByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findHotelByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hotel" type="tns:hotelResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllHotelsRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllHotelsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="hotelList" type="tns:hotelResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="hotelRequest">
        <xs:sequence>
          <xs:element name="hotelName" type="xs:string" />
          <xs:element name="hotelImagePath" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hotelResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="hotelName" type="xs:string" />
          <xs:element name="hotelImagePath" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addUserRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user" type="tns:userRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateUserRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="user" type="tns:userRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteUserByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findUserByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findUserByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user" type="tns:userResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllUsersRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllUsersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="usersList" type="tns:userResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="userRequest">
        <xs:sequence>
          <xs:element name="userName" type="xs:string" />
          <xs:element name="userLastName" type="xs:string" />
          <xs:element name="userLogin" type="xs:string" />
          <xs:element name="userPassword" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="userName" type="xs:string" />
          <xs:element name="userLastName" type="xs:string" />
          <xs:element name="userLogin" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="loginRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="login" type="xs:string" />
            <xs:element name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="loginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="isAdmin" type="xs:boolean" />
            <xs:element name="user" type="tns:userResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="user" type="tns:userRegisterRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="registerResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="changePasswordRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userId" type="xs:int" />
            <xs:element name="oldPassword" type="xs:string" />
            <xs:element name="newPassword" type="xs:string" />
            <xs:element name="confirmPassword" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="changePasswordResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="userRegisterRequest">
        <xs:sequence>
          <xs:element name="userName" type="xs:string" />
          <xs:element name="userLastName" type="xs:string" />
          <xs:element name="userLogin" type="xs:string" />
          <xs:element name="userPassword" type="xs:string" />
          <xs:element name="userConfirmPassword" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addRoomRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="room" type="tns:roomRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addRoomResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateRoomRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element name="room" type="tns:roomRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateRoomResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteRoomByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteRoomByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findRoomByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findRoomByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="room" type="tns:roomResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllRoomsRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllRoomsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="roomList" type="tns:roomResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllRoomsByHotelIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hotelId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllRoomsByHotelIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="roomList" type="tns:roomResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="roomRequest">
        <xs:sequence>
          <xs:element name="roomDescription" type="xs:string" />
          <xs:element name="roomImagePath" type="xs:string" />
          <xs:element name="roomName" type="xs:string" />
          <xs:element name="roomPrice" nillable="true" type="xs:double" />
          <xs:element name="roomQuantityOfPeople" nillable="true" type="xs:int" />
          <xs:element name="hotelId" type="xs:int" />
          <xs:element name="roomBathroom" nillable="true" type="xs:boolean" />
          <xs:element name="roomDesk" nillable="true" type="xs:boolean" />
          <xs:element name="roomFridge" nillable="true" type="xs:boolean" />
          <xs:element name="roomSafe" nillable="true" type="xs:boolean" />
          <xs:element name="roomTv" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="roomResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="roomDescription" type="xs:string" />
          <xs:element name="roomImagePath" type="xs:string" />
          <xs:element name="roomName" type="xs:string" />
          <xs:element name="roomPrice" type="xs:double" />
          <xs:element name="roomQuantityOfPeople" type="xs:int" />
          <xs:element name="assortmentId" type="xs:int" />
          <xs:element name="hotelId" type="xs:int" />
          <xs:element name="roomBathroom" type="xs:boolean" />
          <xs:element name="roomDesk" type="xs:boolean" />
          <xs:element name="roomFridge" type="xs:boolean" />
          <xs:element name="roomSafe" type="xs:boolean" />
          <xs:element name="roomTv" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="addReservationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reservation" type="tns:reservationRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addReservationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteReservationByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userId" type="xs:int" />
            <xs:element name="reservationId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteReservationByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="info" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findReservationByIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userId" type="xs:int" />
            <xs:element name="reservationId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findReservationByIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="reservation" type="tns:reservationResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllReservationsRequest">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllReservationsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="reservationList" type="tns:reservationResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllReservationsByUserIdRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="userId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllReservationsByUserIdResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="reservationList" type="tns:reservationResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="reservationRequest">
        <xs:sequence>
          <xs:element name="roomId" type="xs:int" />
          <xs:element name="userId" type="xs:int" />
          <xs:element name="roomReservationFrom" type="xs:date" />
          <xs:element name="roomReservationTo" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reservationResponse">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element name="roomId" type="xs:int" />
          <xs:element name="userId" type="xs:int" />
          <xs:element name="roomReservationFrom" type="xs:date" />
          <xs:element name="roomReservationTo" type="xs:date" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findUserByIdResponse">
    <wsdl:part name="findUserByIdResponse" element="tns:findUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findAllRoomsByHotelIdRequest">
    <wsdl:part name="findAllRoomsByHotelIdRequest" element="tns:findAllRoomsByHotelIdRequest" />
  </wsdl:message>
  <wsdl:message name="findAllReservationsByUserIdResponse">
    <wsdl:part name="findAllReservationsByUserIdResponse" element="tns:findAllReservationsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="findAllHotelsRequest">
    <wsdl:part name="findAllHotelsRequest" element="tns:findAllHotelsRequest" />
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part name="addUserResponse" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="updateUserResponse" element="tns:updateUserResponse" />
  </wsdl:message>
  <wsdl:message name="updateHotelRequest">
    <wsdl:part name="updateHotelRequest" element="tns:updateHotelRequest" />
  </wsdl:message>
  <wsdl:message name="findAllHotelsResponse">
    <wsdl:part name="findAllHotelsResponse" element="tns:findAllHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="findRoomByIdResponse">
    <wsdl:part name="findRoomByIdResponse" element="tns:findRoomByIdResponse" />
  </wsdl:message>
  <wsdl:message name="addHotelRequest">
    <wsdl:part name="addHotelRequest" element="tns:addHotelRequest" />
  </wsdl:message>
  <wsdl:message name="deleteRoomByIdResponse">
    <wsdl:part name="deleteRoomByIdResponse" element="tns:deleteRoomByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findAllRoomsResponse">
    <wsdl:part name="findAllRoomsResponse" element="tns:findAllRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="addReservationResponse">
    <wsdl:part name="addReservationResponse" element="tns:addReservationResponse" />
  </wsdl:message>
  <wsdl:message name="updateUserRequest">
    <wsdl:part name="updateUserRequest" element="tns:updateUserRequest" />
  </wsdl:message>
  <wsdl:message name="addRoomRequest">
    <wsdl:part name="addRoomRequest" element="tns:addRoomRequest" />
  </wsdl:message>
  <wsdl:message name="addReservationRequest">
    <wsdl:part name="addReservationRequest" element="tns:addReservationRequest" />
  </wsdl:message>
  <wsdl:message name="deleteUserByIdResponse">
    <wsdl:part name="deleteUserByIdResponse" element="tns:deleteUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findAllRoomsRequest">
    <wsdl:part name="findAllRoomsRequest" element="tns:findAllRoomsRequest" />
  </wsdl:message>
  <wsdl:message name="findAllReservationsResponse">
    <wsdl:part name="findAllReservationsResponse" element="tns:findAllReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="findReservationByIdRequest">
    <wsdl:part name="findReservationByIdRequest" element="tns:findReservationByIdRequest" />
  </wsdl:message>
  <wsdl:message name="findHotelByIdRequest">
    <wsdl:part name="findHotelByIdRequest" element="tns:findHotelByIdRequest" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="changePasswordResponse" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="deleteReservationByIdRequest">
    <wsdl:part name="deleteReservationByIdRequest" element="tns:deleteReservationByIdRequest" />
  </wsdl:message>
  <wsdl:message name="updateRoomResponse">
    <wsdl:part name="updateRoomResponse" element="tns:updateRoomResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordRequest">
    <wsdl:part name="changePasswordRequest" element="tns:changePasswordRequest" />
  </wsdl:message>
  <wsdl:message name="findReservationByIdResponse">
    <wsdl:part name="findReservationByIdResponse" element="tns:findReservationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findRoomByIdRequest">
    <wsdl:part name="findRoomByIdRequest" element="tns:findRoomByIdRequest" />
  </wsdl:message>
  <wsdl:message name="addUserRequest">
    <wsdl:part name="addUserRequest" element="tns:addUserRequest" />
  </wsdl:message>
  <wsdl:message name="deleteReservationByIdResponse">
    <wsdl:part name="deleteReservationByIdResponse" element="tns:deleteReservationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="registerResponse">
    <wsdl:part name="registerResponse" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRoomByIdRequest">
    <wsdl:part name="deleteRoomByIdRequest" element="tns:deleteRoomByIdRequest" />
  </wsdl:message>
  <wsdl:message name="findAllUsersRequest">
    <wsdl:part name="findAllUsersRequest" element="tns:findAllUsersRequest" />
  </wsdl:message>
  <wsdl:message name="registerRequest">
    <wsdl:part name="registerRequest" element="tns:registerRequest" />
  </wsdl:message>
  <wsdl:message name="addHotelResponse">
    <wsdl:part name="addHotelResponse" element="tns:addHotelResponse" />
  </wsdl:message>
  <wsdl:message name="deleteHotelByIdResponse">
    <wsdl:part name="deleteHotelByIdResponse" element="tns:deleteHotelByIdResponse" />
  </wsdl:message>
  <wsdl:message name="findUserByIdRequest">
    <wsdl:part name="findUserByIdRequest" element="tns:findUserByIdRequest" />
  </wsdl:message>
  <wsdl:message name="findAllUsersResponse">
    <wsdl:part name="findAllUsersResponse" element="tns:findAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="findAllRoomsByHotelIdResponse">
    <wsdl:part name="findAllRoomsByHotelIdResponse" element="tns:findAllRoomsByHotelIdResponse" />
  </wsdl:message>
  <wsdl:message name="findAllReservationsByUserIdRequest">
    <wsdl:part name="findAllReservationsByUserIdRequest" element="tns:findAllReservationsByUserIdRequest" />
  </wsdl:message>
  <wsdl:message name="updateRoomRequest">
    <wsdl:part name="updateRoomRequest" element="tns:updateRoomRequest" />
  </wsdl:message>
  <wsdl:message name="deleteHotelByIdRequest">
    <wsdl:part name="deleteHotelByIdRequest" element="tns:deleteHotelByIdRequest" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="loginRequest" element="tns:loginRequest" />
  </wsdl:message>
  <wsdl:message name="updateHotelResponse">
    <wsdl:part name="updateHotelResponse" element="tns:updateHotelResponse" />
  </wsdl:message>
  <wsdl:message name="findAllReservationsRequest">
    <wsdl:part name="findAllReservationsRequest" element="tns:findAllReservationsRequest" />
  </wsdl:message>
  <wsdl:message name="deleteUserByIdRequest">
    <wsdl:part name="deleteUserByIdRequest" element="tns:deleteUserByIdRequest" />
  </wsdl:message>
  <wsdl:message name="loginResponse">
    <wsdl:part name="loginResponse" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="addRoomResponse">
    <wsdl:part name="addRoomResponse" element="tns:addRoomResponse" />
  </wsdl:message>
  <wsdl:message name="findHotelByIdResponse">
    <wsdl:part name="findHotelByIdResponse" element="tns:findHotelByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelsPort">
    <wsdl:operation name="findUserById">
      <wsdl:input name="findUserByIdRequest" message="tns:findUserByIdRequest" />
      <wsdl:output name="findUserByIdResponse" message="tns:findUserByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAllRoomsByHotelId">
      <wsdl:input name="findAllRoomsByHotelIdRequest" message="tns:findAllRoomsByHotelIdRequest" />
      <wsdl:output name="findAllRoomsByHotelIdResponse" message="tns:findAllRoomsByHotelIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAllReservationsByUserId">
      <wsdl:input name="findAllReservationsByUserIdRequest" message="tns:findAllReservationsByUserIdRequest" />
      <wsdl:output name="findAllReservationsByUserIdResponse" message="tns:findAllReservationsByUserIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAllHotels">
      <wsdl:input name="findAllHotelsRequest" message="tns:findAllHotelsRequest" />
      <wsdl:output name="findAllHotelsResponse" message="tns:findAllHotelsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input name="addUserRequest" message="tns:addUserRequest" />
      <wsdl:output name="addUserResponse" message="tns:addUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input name="updateUserRequest" message="tns:updateUserRequest" />
      <wsdl:output name="updateUserResponse" message="tns:updateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateHotel">
      <wsdl:input name="updateHotelRequest" message="tns:updateHotelRequest" />
      <wsdl:output name="updateHotelResponse" message="tns:updateHotelResponse" />
    </wsdl:operation>
    <wsdl:operation name="findRoomById">
      <wsdl:input name="findRoomByIdRequest" message="tns:findRoomByIdRequest" />
      <wsdl:output name="findRoomByIdResponse" message="tns:findRoomByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="addHotel">
      <wsdl:input name="addHotelRequest" message="tns:addHotelRequest" />
      <wsdl:output name="addHotelResponse" message="tns:addHotelResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteRoomById">
      <wsdl:input name="deleteRoomByIdRequest" message="tns:deleteRoomByIdRequest" />
      <wsdl:output name="deleteRoomByIdResponse" message="tns:deleteRoomByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAllRooms">
      <wsdl:input name="findAllRoomsRequest" message="tns:findAllRoomsRequest" />
      <wsdl:output name="findAllRoomsResponse" message="tns:findAllRoomsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <wsdl:input name="addReservationRequest" message="tns:addReservationRequest" />
      <wsdl:output name="addReservationResponse" message="tns:addReservationResponse" />
    </wsdl:operation>
    <wsdl:operation name="addRoom">
      <wsdl:input name="addRoomRequest" message="tns:addRoomRequest" />
      <wsdl:output name="addRoomResponse" message="tns:addRoomResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <wsdl:input name="deleteUserByIdRequest" message="tns:deleteUserByIdRequest" />
      <wsdl:output name="deleteUserByIdResponse" message="tns:deleteUserByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAllReservations">
      <wsdl:input name="findAllReservationsRequest" message="tns:findAllReservationsRequest" />
      <wsdl:output name="findAllReservationsResponse" message="tns:findAllReservationsResponse" />
    </wsdl:operation>
    <wsdl:operation name="findReservationById">
      <wsdl:input name="findReservationByIdRequest" message="tns:findReservationByIdRequest" />
      <wsdl:output name="findReservationByIdResponse" message="tns:findReservationByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="findHotelById">
      <wsdl:input name="findHotelByIdRequest" message="tns:findHotelByIdRequest" />
      <wsdl:output name="findHotelByIdResponse" message="tns:findHotelByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input name="changePasswordRequest" message="tns:changePasswordRequest" />
      <wsdl:output name="changePasswordResponse" message="tns:changePasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteReservationById">
      <wsdl:input name="deleteReservationByIdRequest" message="tns:deleteReservationByIdRequest" />
      <wsdl:output name="deleteReservationByIdResponse" message="tns:deleteReservationByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateRoom">
      <wsdl:input name="updateRoomRequest" message="tns:updateRoomRequest" />
      <wsdl:output name="updateRoomResponse" message="tns:updateRoomResponse" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input name="registerRequest" message="tns:registerRequest" />
      <wsdl:output name="registerResponse" message="tns:registerResponse" />
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <wsdl:input name="findAllUsersRequest" message="tns:findAllUsersRequest" />
      <wsdl:output name="findAllUsersResponse" message="tns:findAllUsersResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteHotelById">
      <wsdl:input name="deleteHotelByIdRequest" message="tns:deleteHotelByIdRequest" />
      <wsdl:output name="deleteHotelByIdResponse" message="tns:deleteHotelByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input name="loginRequest" message="tns:loginRequest" />
      <wsdl:output name="loginResponse" message="tns:loginResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelsPortSoap11" type="tns:HotelsPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findUserById">
      <soap:operation soapAction="" />
      <wsdl:input name="findUserByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findUserByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllRoomsByHotelId">
      <soap:operation soapAction="" />
      <wsdl:input name="findAllRoomsByHotelIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllRoomsByHotelIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllReservationsByUserId">
      <soap:operation soapAction="" />
      <wsdl:input name="findAllReservationsByUserIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllReservationsByUserIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllHotels">
      <soap:operation soapAction="" />
      <wsdl:input name="findAllHotelsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllHotelsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" />
      <wsdl:input name="addUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" />
      <wsdl:input name="updateUserRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateHotel">
      <soap:operation soapAction="" />
      <wsdl:input name="updateHotelRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateHotelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRoomById">
      <soap:operation soapAction="" />
      <wsdl:input name="findRoomByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findRoomByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addHotel">
      <soap:operation soapAction="" />
      <wsdl:input name="addHotelRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addHotelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRoomById">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteRoomByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteRoomByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllRooms">
      <soap:operation soapAction="" />
      <wsdl:input name="findAllRoomsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllRoomsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <soap:operation soapAction="" />
      <wsdl:input name="addReservationRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addReservationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoom">
      <soap:operation soapAction="" />
      <wsdl:input name="addRoomRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRoomResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUserById">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteUserByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUserByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllReservations">
      <soap:operation soapAction="" />
      <wsdl:input name="findAllReservationsRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllReservationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findReservationById">
      <soap:operation soapAction="" />
      <wsdl:input name="findReservationByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findReservationByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findHotelById">
      <soap:operation soapAction="" />
      <wsdl:input name="findHotelByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findHotelByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" />
      <wsdl:input name="changePasswordRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="changePasswordResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReservationById">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteReservationByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteReservationByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRoom">
      <soap:operation soapAction="" />
      <wsdl:input name="updateRoomRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateRoomResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="" />
      <wsdl:input name="registerRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUsers">
      <soap:operation soapAction="" />
      <wsdl:input name="findAllUsersRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllUsersResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteHotelById">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteHotelByIdRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteHotelByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="" />
      <wsdl:input name="loginRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="loginResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelsPortService">
    <wsdl:port name="HotelsPortSoap11" binding="tns:HotelsPortSoap11">
      <soap:address location="http://localhost:8080/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>